<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <!--<li class="{{active_menu active_menu 'geturl'}}">
            <a href="/"><i class="fa fa-fw fa-dashboard"></i> Get url</a>
        </li>
        <li class="{{active_menu active_menu 'testiframe'}}">
            <a href="/test-iframe"><i class="fa fa-fw fa-dashboard"></i> Test iframe</a>
        </li>-->
        <li class="{{active_menu active_menu 'getlink'}}">
            <a href="/get-link"><i class="fa fa-fw fa-dashboard"></i> Get all link</a>
        </li>
        <li class="{{active_menu active_menu 'getimage'}}">
            <a href="/get-image"><i class="fa fa-fw fa-dashboard"></i> Get image</a>
        </li>
        <li class="{{active_menu active_menu 'getcontent'}}">
            <a href="/get-content"><i class="fa fa-fw fa-dashboard"></i> Get content</a>
        </li>
        <!--<li>
            <a href="forms.html"><i class="fa fa-fw fa-edit"></i> Forms</a>
        </li>
        <li>
            <a href="bootstrap-elements.html"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a>
        </li>
        <li>
            <a href="bootstrap-grid.html"><i class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a>
        </li>-->
        <!--<li>
            <a href="javascript:;" data-toggle="collapse" data-target="#getLinkMenu"><i class="fa fa-fw fa-arrows-v"></i> Getlink group <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="getLinkMenu" class="collapse">
                <li class="{{active_menu  active_menu 'jackpot'}}">
                    <a href="/jackpot"><i class="fa fa-fw fa-bar-chart-o"></i> Jackpot</a>
                </li>
                <li class="{{active_menu  active_menu 'add-winning'}}">
                    <a href="add-winning"><i class="fa fa-fw fa-table"></i> Thêm winning</a>
                </li>
            </ul>
        </li>-->
        <!--<li>
            <a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Blank Page</a>
        </li>
        <li>
            <a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a>
        </li>-->
    </ul>
</div>