* {
    margin: 0;
    padding: 0;
}

.get-image {
    text-align: center;
    img {
        max-width: 80%;
        height: auto;
    }
}

.html-content {
    max-height: 450px;
    overflow: hidden;
    overflow-y: scroll;
    #html-result {
        img {
            max-width: 32%;
            border: 1px solid red;
            margin: 2px;
            float: left;
        }
    }
}

.clear-fix {
    clear: both;
}