* {
    margin: 0;
    padding: 0;
}

#html-result {
    img {
        max-width: 15%;
        border: 1px solid red;
        margin: 2px;
        float: left;
    }
}

.html-content {
    max-height: 450px;
    overflow: hidden;
    overflow-y: scroll;
    #html-result {
        img {
            max-width: 32%;
        }
    }
}

.clear-fix {
    clear: both;
}

.image-many-link {
    max-height: 300px;
    overflow: hidden;
    overflow-y: scroll;
    img {
        max-width: 15%;
        border: 1px solid red;
        margin: 2px;
        float: left;
    }
}